:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

h1 {
  color: black;
  background-color: crimson;
  border: 15px dash black;
  padding: 5px 5px 5px 5px;
}
